@model DepartmentDetailsDto
@{
    ViewData["Title"] = "Delete";
    ViewData["Id"] = Model.Id;
}

<h1>Are You Sure to /delete this Department</h1>
<br/>
<br/>




<div class="tab-content" id="myTabContent">
    <partial name="Partials/DetailsDeleteDepartmentPartial" />

</div>