@model DepartmentViewModel
@{
    ViewData["Title"] = "Edit";
    ViewBag.Action = "Edit";
}

<div class="row justify-content-center align-items-center flex-column">
    <h1 class="col-6 mt-4">Edit Department </h1>
    <partial name="Partials/CreateEditDepartmentPartials" />
</div>

@section ValidationScript {
    <partial name="_ValidationScriptsPartial"/>
         }